@import '~/mixins.scss';
.hero{
    margin-top: 100px;
}
.job-list{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    .job-li{
        width: 33.333%;
        padding: 15px;
        min-width: 400px;
        flex-grow: 1;
        @include sm{
            min-width: auto;
            width: 100%;
        }
    }
}