@import '~/mixins.scss';
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 45px;
    .logo{
        text-align: center;
        font-weight: 900;
        color: inherit;
        text-decoration: none;
        .logo-title{
            font-size: 50px;
            display: block;
            line-height: 50px;
        }
        .descr{
            font-size: 16px;
        }
    }
    .bt.menu{
        margin: auto 0 auto auto;
        $ofst: 40px;
        width: $ofst;
        height: $ofst;
        position: relative;
        &:hover .dropdown{
            display: block;
        }
        .dropdown{
            $brd: 5px;
            display: none;
            position: absolute;
            top: 105%;
            right: 0;
            padding: 10px;
            width: 165px;
            border-radius: $brd;
            &::before{
                content:'';
                position: absolute;
                bottom: 100%;
                left: 0;
                right: 0;
                height: 20px;
                display: block;
                background: transparent;
            }
            .menu-list{
                margin: -10px;
                li{
                    padding: 10px;
                    color: $cl;
                    border-radius: $brd;
                    &:hover{
                        background: $cl;
                        color: white;
                    }
                }
            }
        }
    }
}