.job-box {
    padding: 25px 30px;
    border-radius: 15px;
    .top{
        .col{
            display: flex;
            .text{
                flex-grow: 1;
            }
        }
        .title{
            margin: 0;
            font-size: 20px;
        }
        .info{
            margin: 0;
            color: #7c7797;
            line-height: 22px;
            font-size: 15px;
        }
    }
    .details{
        padding: 10px 0;
        border-top: 1px solid;
        margin-top: 10px;
    }
    .actions{
        display: flex;
        justify-content: space-between;
        .icon-round{
            height: 30px;
            width: 30px;
        }
    }
    .like{
        font-size: 20px;
        margin-left: auto;
    }
}